/* Style customization for your specific journal (colors, background, etc.)goes in this file. */

/*See below a couple of examples of changes to Yana's base CSS.*/

.ui-shadow {
	box-shadow: none;
}

/*<---------------------Content / HTML Article Display------------------->*/
div#articleContent a,
div#htmlContent a {
	color: #8C2020;
}


/*To change the background pattern for your application, uncomment the code below (i.e., delete the opening "slash asterisk" and closing "asterisk slash") and change the "background-image" property.*/

.ui-body-b,
.ui-overlay-b,
.ui-body-c,
.ui-overlay-c {
	background-image: url(background/bk_body.png);
}

/*<---------------------Swatch A: Main Application Header------------------->*/
/*To change the color/gradient of the title bar, uncomment the code below and change the "background" property.*/

.ui-bar-a, .ui-bar-b, .ui-bar-c, .ui-bar-d {	
	background: rgba(140, 32, 32, 0.8);
}

/*<---------------------Menus------------------->*/
/* Changes the background image of the menus */
.ui-btn-inner {
	background: url("background/trans-bg.png") repeat scroll 0 0 transparent;
}

/* Turns off rounded corners in menus */
.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
    background-clip: none;
}
.ui-corner-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-corner-bottom {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Basic Styling for Menu Items */
.ui-btn-up-b, .ui-btn-hover-b {
	border: none;
	background: inherit;
	margin-bottom: -2px;	
}

/* Menu Hover Effect (Grey-Out) */
.ui-btn-hover-b {
	background: #dfdfdf;
	font-weight: bold;
	margin: 0;
}

/* Red border for main nav items */
ul#list_a li a, ul#list_b li a {
	border-bottom: 1px solid #8C2020;
} 

ul#list_a li:first-child a, ul#list_b li:first-child a {
	border-top: 1px solid #8C2020;
}

/* Text color for navigation main nav items */

h2.ui-li-heading {
	color: #FFF;
	text-shadow: 0 1px 1px #2f3e46;
}

/* Text color and border for subnavigation items */
div.ui-btn-text a.ui-link-inherit {
	color: #FFF;
	text-shadow: 0 1px 1px #2f3e46;
	border-bottom: 1px solid #8C2020;;
}

/* Style for Home and Back Buttons */
span.ui-btn-inner.ui-btn-corner-all {
	color: #FFF;
	text-shadow: 0 -1px 1px black;
}

.ui-btn-up-a, .ui-btn-up-b, .ui-btn-up-c, .ui-btn-up-d {
	border: 1px solid rgba(140, 32, 32, 0.8);
}

/*<---------------------Font Stack------------------->*/
/*Basic font styling for all swatches*/
body,
.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button,
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button,
.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button,
.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button,
 {
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

/*Global Text Styling for Menu Items*/
h2.ui-li-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HTML Article Display */
div#articleContent, 
div#htmlContent {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Main Application Header */
.ui-bar h1.ui-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

