/* Style customization for your specific journal (colors, background, etc.)goes in this file. */

/*See below a couple of examples of changes to Yana's base CSS.*/

/*To change the background pattern for your application, uncomment the code below (i.e., delete the opening "slash asterisk" and closing "asterisk slash") and change the "background-image" property.*/

.ui-body-b,
.ui-overlay-b,
.ui-body-c,
.ui-overlay-c {
	background-image: url(background/bk_body.png);
}

/*To change the color/gradient of the title bar, uncomment the code below and change the "background" property.*/

.ui-bar-a {	
	background: rgba(140, 32, 32, 0.8);
}

div.ui-btn-inner {
	background: url("background/trans-bg.png") repeat scroll 0 0 transparent;
	border-top: 1px solid #8C2020;
	margin-top: -3px;
}

